/* Shell CSS file */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* { margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: orange;
}

body{
    background-color: var(--primary-color, red);
}

