/* Shell CSS file */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* { margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: blue;
    /*--primary-idiot: 'me';*/
}

body{
    background-color: var(--primary-color, blue);
}

